/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,500;1,800&display=swap');
/* ROOTs */
:root {
    /* Colors*/
        --cor-1 : #fff;
        --cor-2 : #000;
        --cor-3 : #4E7E18;
        --cor-4 : #7FCC28;
        --cor-5 : #EDCF13;
    
    /* Font Sizes */
        --small : .8em;
        --regular : 1em;
        --big : 1.5em;

    /* Transitions */
        --hover-t : transform .2s;
        --normal-t : transform 1s;
        --time-2 : all .5s;
}
/*---- SCROLL -----*/
body::-webkit-scrollbar {
    width: 12px; 
}
body::-webkit-scrollbar-track {
    background-color: var(--cor-1); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--cor-3);
    border-radius: 20px;
    border: 3px solid var(--cor-1); 
}
/*---- FIM SCROLL -----*/
/*---- Key Frames animations ----*/
@keyframes translateX-Animatio {
    to {
        transform: initial;
    }
}
/*---- FIM Key Frames animations ----*/
/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

/* -- WHATS ICON -- */
.whatsapp-butoon {
    z-index: 2;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.whatsapp-butoon > a > img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
/* -- WHATS ICON -- */
/* NAV */
    .nav-btn {
        display: none;
    }
    .nav-box {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--cor-1);
        height: 80px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 3px 20px 0px var(--cor-3);
    }
        .nav-box-itens {
            display: flex;
            list-style: none;
        }
            .logo-nav {
                height: 70px;
            }
                .right-nav-item > a, .right-nav-item > a:visited {
                    display: inline-block;
                    text-decoration: none;
                    color: var(--cor-3);
                    font-size: var(--normal-t);
                    font-weight: bold;
                    transition: var(--normal-t);
                    box-sizing: border-box;
                    text-transform: uppercase;
                    padding: 10px;
                }
                    .right-nav-item > a:hover {
                        transition: var(--hover-t);
                        transform: scale(1.1);
                    }
                    .right-nav-item > a:active {
                        transform: scale(1);
                    }           
/* FIM NAV */
/* SEC 1 */ 
.slide {
    width: 100vw;
    height: 100vh;
    display: grid;
}
.img-box {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
    .img-box-1 {
        background-image: url("./assets/imgs/solar1.jpg");
    }
    .img-box-2 {
        background-image: url("./assets/imgs/solar2.jpg");
    }
    .img-box-3 {
        background-image: url("./assets/imgs/solar3.jpg");
    }
    .img-box-4 {
        background-image: url("./assets/imgs/solar4.jpg");
    }
.slide-itens {
    position: relative;
    grid-area: 1/1;
}
.slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 98% 1fr;
}
.slide-itens > * {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}
.slide-itens > .active {
    opacity: 1;
    pointer-events: initial;
    position: relative;
}
.slide-nav button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.slide-nav button img {
    height: 50px;
}
.slide-thumb {
    background-color: var(--cor-3);
}
.slide-thumb {
    display: flex;
    grid-column: 1 / 3;
}
.slide-thumb > span {
    flex: 1;
    display: block;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}
.slide-thumb > span.active::after {
    content: "";
    display: block;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    animation: translateX-Animatio 5s forwards linear;
}
/* TEXT SLIDE 1 */
.text-slide1 {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 10px;
    height: 200px;
    width: 600px;
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s;
}
.active .text-slide1 {
    opacity: 1;
    transform: translateX(0%);
}
    .slide1-text1 {
        background-color: var(--cor-3);
        font-size: 40px;
        padding: 10px;
        color: var(--cor-1);
    }
    .slide1-text2 {
        background-color: var(--cor-3);
        display: block;
        font-size: 70px;
        padding: 10px;
        color: var(--cor-1);
        margin-top: 20px;
    }
        
.text-slide2 {
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 10px;
    height: 200px;
    width: 100%;
    margin-left: 100px;
}
    .slide2-text1, .slide2-text4{
        color: var(--cor-1);
        background-color: var(--cor-5);
        display: inline-block;
        font-size: 30px;
        padding: 10px;
        margin: 5px;
        opacity: 0;
        transform: translateX(50%);
    }
    .slide2-text2, .slide2-text3 {
        color: var(--cor-1);
        background-color: var(--cor-5);
        display: inline-block;
        font-size: 20px;
        padding: 10px;
        margin: 3px;
        opacity: 0;
        transform: translateX(50%);
    }
        .active .slide2-text1 {
            opacity: 1;
            transform: translateX(0%);
            transition: all 1s;
        }
        .active .slide2-text2 {
            opacity: 1;
            transform: translateX(0%);
            transition: all 1s;
            transition-delay: 1s;
        }
        .active .slide2-text3 {
            opacity: 1;
            transform: translateX(0%);
            transition: all 1s;
            transition-delay: 1.2s;
        }
        .active .slide2-text4 {
            opacity: 1;
            transform: translateX(0%);
            transition: all 1s;
            transition-delay: 1.7s;
        }
/* */
/* FIM SEC 1 */

#sec2 {
    height: 100vh;
    width: 100vw;
}

@media (max-width: 800px) {

    .nav-btn {
        display: flex;
        gap: 5px;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: var(--cor-3);
    }
    .btn-nav-icon {
        border-top: 2px solid currentColor;
        width: 30px;
        transition: var(--time-2);
    }
    .btn-nav-icon::after, .btn-nav-icon::before {
        content: "";
        width: 30px;
        height: 2px;
        background-color: currentColor;
        display: block;
        margin-top: 10px;
        transition: var(--time-2);
    }

    .active .btn-nav-icon::before {
        position: absolute;
        transition: var(--time-2);
        transform: rotate(-135deg);
    }
    
    .active .btn-nav-icon::after {
        position: absolute;
        transition: var(--time-2);
        transform: rotate(135deg);
    } 
    
    .active .btn-nav-icon {
        border: transparent;
        margin-bottom: 51%;
        transition: var(--time-2);
        transform: scale(1.2);
    }
    /* */
    .nav-box-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        right: 0;
        top: 80px;
        height: 0;
        background-color: var(--cor-1);
        transition: all .5s;
        visibility: hidden;
        overflow: hidden;
    }
    #nav.active .nav-box-itens {
        height: 400px;
        visibility: visible;
    }
    /* NAV */
}