/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,500;1,800&display=swap');
/* ROOTs */
:root {
    /* Colors*/
        --cor-1 : #fff;
        --cor-2 : #000;
        --cor-3 : #4E7E18;
        --cor-4 : #7FCC28;
        --cor-5 : #EDCF13;
    
    /* Font Sizes */
        --small : .8em;
        --regular : 1em;
        --big : 1.5em;

    /* Transitions */
        --hover-t : transform .2s;
        --normal-t : transform 1s;
        --time-2 : all .5s;
}
/*---- SCROLL -----*/
body::-webkit-scrollbar {
    width: 12px; 
}
body::-webkit-scrollbar-track {
    background-color: var(--cor-1); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--cor-3);
    border-radius: 20px;
    border: 3px solid var(--cor-1); 
}
/*---- FIM SCROLL -----*/
/*---- Key Frames animations ----*/
@keyframes translateX-Animatio {
    to {
        transform: initial;
    }
}

@keyframes whatsapp-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/*---- FIM Key Frames animations ----*/
/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-style: italic;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

/* -- WHATS ICON -- */
.whatsapp-butoon {
    z-index: 2;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    animation: whatsapp-animation 1s infinite alternate-reverse;
}
.whatsapp-butoon > a > img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
/* -- WHATS ICON -- */
/* NAV */
    .item-nav {
        font-weight: 500 !important;
        font-style: normal !important;
    }
    .nav-btn {
        display: none;
    }
    .nav-box {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--cor-1);
        height: 80px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 3px 20px 0px var(--cor-3);
    }
        .nav-box-itens {
            display: flex;
            list-style: none;
        }
            .logo-nav {
                height: 70px;
            }
                .right-nav-item > a, .right-nav-item > a:visited {
                    display: inline-block;
                    text-decoration: none;
                    color: var(--cor-3);
                    font-size: var(--normal-t);
                    font-weight: bold;
                    transition: var(--normal-t);
                    box-sizing: border-box;
                    text-transform: uppercase;
                    padding: 10px;
                }
                    .right-nav-item > a:hover {
                        transition: var(--hover-t);
                        transform: scale(1.1);
                    }
                    .right-nav-item > a:active {
                        transform: scale(1);
                    }           
/* FIM NAV */
/* SEC 1 */ 
.slide {
    margin-top: 79px;
    width: 100vw;
    height: calc(100vh - 79px) ;
    display: grid;
}
    .img-box-1 {
        background-image: url("./assets/imgs/solar1.png");
    }
    .img-box-2 {
        background-image: url("./assets/imgs/solar2.png");
        
    }
    .img-box-3 {
        background-image: url("./assets/imgs/solar3.png");
    }
    .img-box {
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
.slide-itens {
    position: relative;
    grid-area: 1/1;
}
.slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 98% 1fr;
}
.slide-itens > * {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}
.slide-itens > .active {
    opacity: 1;
    pointer-events: initial;
    position: relative;
}
.slide-nav button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.slide-nav button img {
    height: 50px;
}
.slide-thumb {
    background-color: var(--cor-3);
}
.slide-thumb {
    display: flex;
    grid-column: 1 / 3;
}
.slide-thumb > span {
    flex: 1;
    display: block;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}
.slide-thumb > span.active::after {
    content: "";
    display: block;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    animation: translateX-Animatio 10s forwards linear;
}
/* TEXT SLIDE 1 */
.text-slide {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 100%;
    text-transform: uppercase;
    line-height: 32px;
}
    .slide1-text1 {
        background-color: var(--cor-4);
        font-size: 25px;
        color: white;
        padding: 0 10px;

        margin-left: 100px;
        opacity: 0;
        transition: all 1s;
    }
    .slide1-text2 {
        background-color: var(--cor-4);
        font-size: 35px;
        color: white;
        padding: 0 10px;
        font-weight: 900;

        margin-left: 100px;
        opacity: 0;
        transition: all 1s;
        transition-delay: 1s;
    }
    .active .slide1-text1 {
        opacity: 1;
        margin-left: 0;

    }
    .active .slide1-text2 {
        opacity: 1;
        margin-left: 5px;

    }   
/* SLIDE 3 */
.text-slide3 {
    position: absolute;
    bottom: 30%;
    left: 10%;
    text-transform: uppercase;
    line-height: 32px;
}

.text-slide3 .slide1-text2 {
    background-color: var(--cor-5);
    font-size: 35px;
    color: white;
    padding: 0 10px;
    font-weight: 900;

    margin-left: 100px;
    opacity: 0;
    transition: all 1s;
}
.text-slide3 .slide1-text1 {
    background-color: var(--cor-5);
    font-size: 30px;
    color: white;
    padding: 0 10px;
    margin-left: 5px;
    letter-spacing: 2px;
    
    margin-left: 100px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;
}

.active .text-slide3 .slide1-text2 {
    opacity: 1;
    margin-left: 0;

}
.active .text-slide3 .slide1-text1 {
    opacity: 1;
    margin-left: 5px;
}
/* FIM SEC 1 */
/* SEC 2 */
#sec2 {
    height: 650px;
    width: 100vw;
    background-color: var(--cor-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
    .text-box-sec2 {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: var(--cor-1);
        text-transform: uppercase;
    }
        .text-box-sec2 h2 {
            background-color: var(--cor-1);
            color: var(--cor-3);
            padding: 10px;
            border-radius: 15px;
            font-size: 3vw;
        }
    .card-box-sec2 {
        height: 80%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
        .card-box-sec2 > img {
            height: 20vw;
            min-height: 300px;
        }
/* --- init hidden --- */
.init-hidden {
    opacity: 0;
    transform: translateX(50px); 
    transition: all 1s;
}
.init-hidden-1 {
    transition: all 1s !important;
}
.init-hidden-2 {
    transition: all 1s;
    transition-delay: .5s !important;
}
.init-hidden-3 {
    transition: all 1s;
    transition-delay: 1s !important;
}
.init-hidden-off {
    opacity: 1;
    transform: translateX(0px);
}
/* FIM SEC 2 */
/* SEC 3 */
#sec3 {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/imgs/grama.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom left;
    display: flex;
}

.left-side-sec3 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .left-side-sec3 h3 {
        font-size: 6vw;
        text-transform: uppercase;
        text-align: center;
        color: var(--cor-1);
        background-color: var(--cor-5);
        margin-top: 5%;
        margin-left: 10%;  
        padding: 0px 4.8vw;  
    }
    .left-side-sec3 h4 {
        margin-right: 45px;
        font-size: 5vw;
        text-transform: uppercase;
        line-height: 1em;
        margin-left: 10%;
        color: var(--cor-3);
    }
.right-side-sec3 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class-span-right-2 img {
    height: 6vw;
}

.right-side-sec3-box {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--cor-3);
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 2vw;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}
    .class-span-right-3 {
        font-weight: 700;
    }

    .class-span-right-1, .class-span-right-4 {
        font-size: 8vw;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 7vw;
        color: var(--cor-1);
        text-shadow: 
        -2px -2px 1px var(--cor-4), 
        -2px 2px 1px  var(--cor-4),                    
         2px -2px 1px  var(--cor-4),                  
         2px 1px 1px  var(--cor-4);
}

/* --- INIT HIDDEN --- */

.init-hidden-4 {

}

    
/* FIM SEC 3 */
@media (max-width: 950px) {
    /* -- WHATS ICON -- */
.whatsapp-butoon {
    bottom: -10px;
    right: -10px;
}
.whatsapp-butoon > a > img {
    height: 70px;
    width: 70px;
    border-radius: 15px;
}
/* -- WHATS ICON -- */
    .nav-btn {
        display: flex;
        gap: 5px;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: var(--cor-3);
    }
    .btn-nav-icon {
        border-top: 2px solid currentColor;
        width: 30px;
        transition: var(--time-2);
    }
    .btn-nav-icon::after, .btn-nav-icon::before {
        content: "";
        width: 30px;
        height: 2px;
        background-color: currentColor;
        display: block;
        margin-top: 10px;
        transition: var(--time-2);
    }

    .active .btn-nav-icon::before {
        position: absolute;
        transition: var(--time-2);
        transform: rotate(-135deg);
    }
    
    .active .btn-nav-icon::after {
        position: absolute;
        transition: var(--time-2);
        transform: rotate(135deg);
    } 
    
    .active .btn-nav-icon {
        border: transparent;
        margin-bottom: 51%;
        transition: var(--time-2);
        transform: scale(1.2);
    }
    /* */
    .nav-box-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        right: 0;
        top: 80px;
        height: 0;
        background-color: var(--cor-1);
        transition: all .5s;
        visibility: hidden;
        overflow: hidden;
    }
    #nav.active .nav-box-itens {
        height: 400px;
        visibility: visible;
    }
    /* NAV */
    /* SEC 1 */
    .slide {
        width: 100vw;
        height: 300px;
        display: grid;
    }
    .slide-nav button img {
       opacity: 0;
    }
 /* TEXT SLIDE 1 */
 .text-slide {
    line-height: 20px;
}
    .slide1-text1 {
        background-color: var(--cor-4);
        font-size: 15px;
    }
    .slide1-text2 {
        background-color: var(--cor-4);
        font-size: 20px;
    }
/* SLIDE 3 */
.text-slide3 {
    line-height: 15px;
}
.text-slide3 .slide1-text1 {
    background-color: var(--cor-5);
    font-size: 15px;
}
.text-slide3 .slide1-text2 {
    background-color: var(--cor-5);
    font-size: 20px;
}
/* */
    /* FIM SEC 1 */
    /* SEC 2 */
#sec2 {
    height: 1300px;
}
    .text-box-sec2 {
        width: 90%;
        height: 10%;
        align-items: flex-end;
    }
        .text-box-sec2 h2 {
            text-align: center;
            font-size: 30px;
        }
        .card-box-sec2 > img {
            height: 300px;
        }
    .card-box-sec2 {
        flex-direction: column;
        gap: 30px;
    }
    .init-hidden-2 {
        transition-delay: 0s;
    }
    .init-hidden-3 {
        transition-delay: 0s;
    }
/* FIM SEC 2 */
/* SEC 3 */
#sec3 {
    height: 90vh;
    width: 100vw;
    background-size: 120vw;
    flex-direction: column;
}

.left-side-sec3 {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .left-side-sec3 h3 {
        font-size: 10vw;
        margin-top: 0%;
        margin-left: 0%;    
    }
    .left-side-sec3 h4 {
        margin-right: 0;
        text-align: center;
        font-size: 9vw;
        text-transform: uppercase;
        line-height: 1em;
        margin-left: 0%;
        color: var(--cor-3);
    }
.right-side-sec3 {
    height: 70%;
    width: 100%;
    justify-content: flex-start;
}
 
.right-side-sec3-box {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--cor-3);
    font-weight: 500;
    font-size: 5vw;
    line-height: 5vw;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
}
    .class-span-right-2 img {
        height: 15vw;
    }
    .class-span-right-3 {
        font-weight: 700;
    }

    .class-span-right-1, .class-span-right-4 {
        font-size: 13vw;
        text-align: center;
        line-height: 12vw;
}
   
}